<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataManage.Model" connectionString="Data Source=C:\Users\peng\Documents\Tencent Files\736229812\FileRecv\Debug\Debug\hydb.sqlite" /> 
  </connectionStrings>
  <appSettings>
    <add key="redis" value="127.0.0.1:6379" />
    <add key="SqlserverConStr" value="Data Source=.;Initial Catalog=Test;Persist Security Info=True;User ID=sa;Password=xuhaopeng" />
    <add key="KrSqlserverConStr" value="Data Source=192.168.1.111;Initial Catalog=www_krbb_cn;Persist Security Info=True;User ID=sa;Password=uid_pass%_2010xiu" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
